body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(220, 220, 250);
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    transition: background 0.3s;
}
.navbar a:hover {
    background-color: #746c6c;
}
